*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #c3cfe2;
}
.img{
    width: 400px;
    border-radius: 30px;
    border:1px solid black;

    }


.fotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 30px;
    margin: 10px;
    }
    


.container {
    position: relative;
    width: 50%;
  }
  
  .img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid green;
    padding: 5px;
    background-color: green;
  }
  
  .container:hover .img {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
    
  }




/*# MediaQueries*/
@media screen and (max-width: 1024px) {
    .fotos {
      grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 480px) {
    .fotos {
      grid-template-columns: 1fr;
    }
}
